
body {
    background-color: #F5F5F6;
    color: #839496;
    font-family: "Ubuntu mono", monospace;
    margin: 0;
    padding: 0;
}
.container {
    margin: 0 auto;
    width: 768px;
}

.App-logo {
  position: absolute;
  height: 13vmin;
  pointer-events: none;
  margin-top: 14px;
  margin-left: -49vw;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
    background-color: #38006b;
    color: #fff;
    width: 100%;
    min-height: 119px;
    margin-top: -22px;
    text-align: center;
}
.header .logo {
    border-bottom: 1px #FFF dashed;
    color: #FFF;
    display: inline-block;
    font-size: 22px;
    padding: 10px 0;
    text-decoration: none;
}
.header .logo:hover {
    border-bottom: 1px #F9F9F9 solid;
}
.right {
    float: right;
    padding-right: 0 !important;
}
.left {
    float: left;
    padding-left: 0 !important;
}
.board {
    box-shadow: 0 0 5px #839496;
    background-color: #E1E2E1;
    float: left;
    height: 620px;
    margin-top: 26px;
    margin-left: 10%;
    position: relative;
    width: 620px;
    z-index: 100;
}
.info {
  color: #333;
  float: left;
  margin-top: -17px;
  padding-left: 22px;
  width: 135px;
}
.info .info-block {
    border-bottom: 1px solid #E5E5E5;
    padding: 8px 0;
}
.info .info-item {
    margin-top: 8px;
}
.catblock {
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.catblock .cat {
    height: 60px;
    margin-left: 10px;
    margin-top: 10px;
    width: 60px;
}
.selected {
    background-color: #fff;
}
.matched {
    z-index: 99;
}
.reload {
    background-color: #38006b;
    border-radius: 4px;
    border: 1px solid #38006b;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    min-height: 50px;
    vertical-align: middle;
    width: 100%;
}
.reload:hover {
    background-color: #F9F9F9;
    color: #38006b;
}
.home img {
    height: 100%;
    width: 100%;
    position: relative;
}

.navbar-center {
  color: red;
  font-weight: 800;
}
